@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-white: #ffffff;
  --basic-white-50: rgba(255, 255, 255, 0.5);
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-grey-white: #f4f4f4;
  --basic-grey-super-light: #f1f1f1;
  --card-border-color: #eaeaea;
  --basic-grey-extra-light: #e5e5e5;
  --basic-grey-light: #c5c5c5;
  --basic-grey-light-30: rgba(197, 197, 197, 0.3);
  --phone-icon-color: #b7bfc8;
  --basic-grey: #b5b5b5;
  --basic-grey-dark: #a9a9a9;
  --basic-grey-dark-30: rgba(169, 169, 169, 0.3);
  --basic-sapphire-white: #f1f5f7;
  --basic-sapphire-light: #3d546f;
  --basic-sapphire: #32425c;
  --basic-sapphire-dark: #293449;
  --basic-sapphire-extra-dark: #1d2739;
  --socials-item-bg-color: #212a3a;
  --basic-sapphire-black: #161d29;
  --basic-blue: #3bbce3;
  --basic-red: #ee3643;
  --basic-red-dark: #ca2c37;
  --basic-red-extra-dark: #ba2732;
  --basic-green-light: #8ed78f;
  --basic-green-pale: #63a63e;
  --basic-green: #5fbb2d;
  --basic-green-dark: #518534;
  --basic-green-extra-dark: #367315;
  --basic-yellow-pale: #ffd180;
  --basic-yellow: #ffbf47;
  --basic-violet: #dc91d8;
  --basic-orange-white: #f9f5f0;
  --basic-orange-extra-light: #f7f3ec;
  --basic-black: #000000;
  --basic-black-40: rgba(0, 0, 0, 0.4);
  --basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-black-25: rgba(0, 0, 0, 0.25);
  --basic-black-15: rgba(0, 0, 0, 0.15);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1;
  height: 1;
  margin: -1;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden,
.pop-goods-slider-item.hidden {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.page-body .main-title,
.page-body h2,
.services-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-body .main-title {
  grid-column: 1 / -1;
  margin: 0;
  padding: 30px;
  background-color: var(--basic-sapphire-white);
}

/* Красная кнопка и похожие на неё, в том числе стикер. */
.page-body .btn,
.page-body .sticker-new {
  box-sizing: border-box;
  display: block;
  min-height: 38px;
  padding: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.page-body .sticker-new {
  margin: 0;
}

.page-body .btn-default,
.page-body .sticker-new {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.page-body .btn-default {
  width: 192px;
}

.page-body .btn-default:hover {
  background-color: var(--basic-red-dark);
}

.page-body .btn-default:focus,
.page-body .btn-default:active {
  background-color: var(--basic-red-extra-dark);
}

/* Шапка. */

.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-sapphire);
  background-color: var(--basic-sapphire-white);
}

.inner-page .main-header {
  margin-bottom: 21px;
}

/* Верхняя часть шапки. */

.main-header-top {
  margin-bottom: 46px;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-sapphire-dark);
}

.main-header-top .container {
  display: flex;
  height: 42px;
}

.logo {
  display: flex;
  box-sizing: border-box;
  background-color: var(--basic-red);
  border-bottom: 5px solid var(--basic-red-extra-dark);
}

.main-header-logo {
  width: 220px;
  height: 47px;
}

.logo img {
  margin: auto;
}

.search-form {
  width: 270px;
}

.search-form .search-field-box {
  position: relative;
  height: 100%;
}

.search-form .search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
}

.search-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 42px;
  padding-right: 18px;
  border: none;
  font: inherit;
  color: inherit;
  background: inherit;
}

.search-field::placeholder {
  opacity: 1;
}

.search-field:hover + .search-icon {
  opacity: 1;
}

.search-field:focus {
  outline: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-field:focus + .search-icon {
  opacity: 1;
}

.search-field:focus + .search-icon path {
  fill: var(--basic-red);
}

.main-header-top a,
.main-navigation a {
  color: var(--basic-white);
  text-decoration: none;
}
.purchase-links {
  display: flex;
}

.purchase-links a {
  box-sizing: border-box;
  width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.main-header-top .bookmarks,
.main-header-top .cart {
  background-color: var(--basic-red);
}

.main-header-top .bookmarks:focus,
.main-header-top .bookmarks:active,
.main-header-top .cart:focus,
.main-header-top .cart:active {
  color: var(--basic-white-50);
  background-color: var(--basic-red-dark);
}

.main-header-top .bookmarks.empty,
.main-header-top .cart.empty {
  background-color: transparent;
}

.main-header-top .bookmarks.empty:focus,
.main-header-top .bookmarks.empty:active,
.main-header-top .cart.empty:focus,
.main-header-top .cart.empty:active {
  color: var(--basic-white-50);
  background-color: var(--basic-sapphire-black);
}

.main-header-top .bookmarks {
  position: relative;
  padding-left: 43px;
}

.main-header-top .bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 18px;
  background-image: url("../img/interface-icons/bookmarks-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-top .cart {
  position: relative;
  padding-left: 49px;
}

.main-header-top .cart::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url("../img/interface-icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-top .bookmarks:hover::before,
.main-header-top .cart:hover::before {
  opacity: 1;
}

.main-header-top .bookmarks:focus::before,
.main-header-top .bookmarks:active::before,
.main-header-top .cart:focus::before,
.main-header-top .cart:active::before {
  opacity: 0.3;
}

.main-header-top .make-an-order {
  padding-left: 19px;
  background-color: var(--basic-green-pale);
}

.main-header-top .make-an-order:hover {
  background-color: var(--basic-green);
}

.main-header-top .make-an-order:focus,
.main-header-top .make-an-order:active {
  color: var(--basic-white-50);
  background-color: var(--basic-green-pale);
}

/* Серединная часть шапки. */

.main-header-middle {
  display: flex;
  margin-bottom: 41px;
  padding-left: 30px;
}

.main-header-middle .description {
  width: 270px;
  margin: 0;
  margin-top: -4px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-contacts {
  width: 270px;
  margin: 0;
  margin-right: auto;
  text-align: center;
}

.main-header-middle .main-header-phone {
  position: relative;
  display: flex;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 71px;
  border: 3px solid var(--basic-white);
  margin-bottom: 2px;
  align-items: center;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-decoration: none;
}

.main-header-phone .phone-icon {
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
}

.main-header-middle .main-header-phone:hover {
  color: var(--basic-sapphire-extra-dark);
}

.main-header-middle .main-header-phone:focus,
.main-header-middle .main-header-phone:active {
  color: var(--basic-grey-light);
}

.main-header-phone:hover .phone-icon path {
  fill: var(--basic-sapphire-extra-dark);
}

.main-header-phone:focus .phone-icon path,
.main-header-phone:active .phone-icon path {
  fill: var(--phone-icon-color);
}

.authorization {
  display: flex;
  margin-bottom: 7px;
}

.authorization a {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 13px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);
  text-decoration: none;
  background-color: var(--basic-white);
}

.authorization .sign-in {
  position: relative;
  padding-right: 27px;
  padding-left: 46px;
  margin-right: 10px;
}

.sign-in .login-icon {
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
}

.authorization .sign-up {
  padding-right: 24px;
  padding-left: 25px;
}

.authorization a:hover {
  color: var(--basic-red);
}

.authorization a:focus,
.authorization a:active {
  color: var(--basic-grey-light);
}

.sign-in:hover .login-icon path {
  fill: var(--basic-sapphire-light);
}

.sign-in:focus .login-icon path,
.sign-in:active .login-icon path {
  fill: var(--basic-grey-light);
}

/* Нижняя часть шапки. */

.site-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: var(--basic-sapphire);
  box-shadow: inset 0px -5px 0px var(--basic-sapphire-dark);
}

.site-navigation a {
  display: block;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 20px;
  padding-left: 28px;
}

.site-navigation a[href]:hover {
  background-color: var(--basic-sapphire-dark);
}

.site-navigation a[href]:focus,
.site-navigation a[href]:active {
  color: var(--basic-white-50);
  background-color: var(--basic-sapphire-extra-dark);
}

/* Промоблок. */

.promo {
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 59px;
}

.promo .pop-sections-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.pop-sections-item {
  position: relative;
  padding-top: 20px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 23px;
  overflow: hidden;
}

.pop-sections-item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.pop-sections-item .sticker-new,
.catalog-item .sticker-new {
  position: absolute;
  top: 8px;
  right: -27px;
  width: 100px;
  min-height: 30px;
  padding-top: 7px;
  padding-left: 9px;
  padding-bottom: 4px;
  transform: rotate(45deg);
}

.pop-sections-item > .btn {
  display: flex;
  width: 135px;
  padding-top: 9px;
  padding-bottom: 11px;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--basic-white-30);
}

.pop-sections-item > .btn:hover {
  background-color: var(--basic-grey-light-30);
}

.pop-sections-item > .btn:focus,
.pop-sections-item > .btn:active {
  background-color: var(--basic-grey-dark-30);
}

.pop-sections-item {
  background-repeat: no-repeat;
}

.pop-sections-item.materials {
  background-color: var(--basic-yellow);
  background-image: url("../img/interface-icons/materials-icon.svg");
  background-position: right 43px top 31px;
}

.pop-sections-item.tool {
  background-color: var(--basic-blue);
  background-image: url("../img/interface-icons/instruments-icon.svg");
  background-position: right 31px top 34px;
}

.pop-sections-item.technics {
  background-color: var(--basic-violet);
  background-image: url("../img/interface-icons/technics-icon.svg");
  background-position: right 31px top 31px;
}

.pop-sections-item.discount {
  background-color: var(--basic-green-light);
  background-image: url("../img/interface-icons/discount-icon.svg");
  background-position: right 45px top 26px;
}

.pop-sections-item.delivery {
  background-color: var(--basic-yellow);
  background-image: url("../img/interface-icons/delivery-icon.svg");
  background-position: right 31px top 32px;
}

/* Слайдер в промо-блоке. */

.pop-goods-slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  position: relative;
  padding: 0;
}

.pop-goods-slider ul {
  height: 100%;
  padding: 0;
  margin: 0;
}

.pop-goods-slider-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  background-size: cover;
}

.pop-goods-slider-item header {
  box-sizing: border-box;
  height: 39.47368421%;
  padding-top: 22px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: auto;
  background-color: var(--basic-black-25);
}

.pop-goods-slider-item h3 {
  margin-bottom: 6px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.pop-goods-slider-item p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.pop-goods-slider-item .btn {
  margin-right: 24px;
  margin-bottom: 27px;
  margin-left: 24px;
}

.pop-goods-slider-item.perforators {
  background-image: url(../img/perforators-promo-background.jpg);
}

.pop-goods-slider-item.drills {
  background-image: url(../img/drills-promo-background.jpg);
}

.pop-goods-slider .slider-button {
  position: absolute;
  bottom: 104px;
  width: 22px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pop-goods-slider .prev-slide {
  left: 24px;
}

.pop-goods-slider .next-slide {
  right: 20px;
}

.pop-goods-slider .slider-button:hover path {
  fill: var(--basic-red);
}

.pop-goods-slider .slider-button:focus path,
.pop-goods-slider .slider-button:active path {
  fill: var(--basic-black);
  opacity: 0.3;
}

.slider-controls {
  position: absolute;
  left: calc(50% - 45px);
  top: calc(100% - 46px);
  display: flex;
  width: 90px;
  justify-content: center;
}

.slider-controls button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: var(--basic-white);
  cursor: pointer;
}

.slider-controls button.active {
  background-color: var(--basic-red);
}

.slider-controls button:nth-child(5n + 1) {
  margin-left: 0;
}

.slider-controls-box {
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  display: flex;
  padding-top: 25px;
  padding-right: 14px;
  padding-bottom: 26px;
  padding-left: 28px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-orange-white);
}

.main-title,
.section-header h2,
.services-item h3 {
  margin: 0;
  margin-right: 28px;
  color: var(--basic-sapphire);
}

/* Популярные товары (4 перфоратора). */
.popular-goods {
  margin-bottom: 70px;
}

.pop-goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 318px;
  align-items: center;
  padding-bottom: 20px;
  background-color: var(--basic-white);
  border: 1px solid var(--card-border-color);
  overflow: hidden;
}

.catalog-item h3 {
  margin-top: 0;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 17px;
  text-align: center;
}

.catalog-item .picture-and-actions {
  width: 100%;
  height: 169px;
  margin-bottom: 8px;
  order: -1;
  position: relative;
}

.picture-and-actions img {
  max-width: 100%;
  max-height: 100%;
}

.catalog-item h3 {
  line-height: 20px;
}

.catalog-item .link-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-item .link-title:hover {
  color: var(--basic-sapphire);
}

.catalog-item .link-title:focus,
.catalog-item .link-title:active {
  color: var(--basic-sapphire);
  opacity: 0.5;
}

.catalog-item .prices {
  margin: 0;
  margin-top: auto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-item .old-price {
  display: block;
  margin-bottom: 14px;
  text-align: center;
  color: var(--basic-grey-dark);
  text-decoration: line-through;
}

.catalog-item .new-price {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 141px;
  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 12px;
  margin-left: 10px;
  border-radius: 3px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'%3E%3Cpath d='m0 0l1 1-1 1z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: 10000%;
  mask-position: right;
}

/* Блок с кнопками который должен появляться при наведении. */

.catalog-item .actions-with-goods {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-white);
}

.actions-with-goods .btn {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 10px auto;
}

.catalog-item .btn-buy {
  margin-bottom: 10px;
  border-radius: 2px;
  color: var(--basic-white);
  background-color: var(--basic-green-pale);
  box-shadow: inset 0px -3px 0px var(--basic-green-extra-dark);
}

.catalog-item .btn-buy:hover {
  background-color: var(--basic-green);
}

.catalog-item .btn-buy:focus,
.catalog-item .btn-buy:active {
  background-color: var(--basic-green-dark);
}

.catalog-item .btn-bookmarks {
  outline: 3px solid var(--basic-green-pale);
  outline-offset: -3px;
  border-radius: 2px;
  color: var(--basic-sapphire);
  background-color: inherit;
}

.catalog-item .btn-bookmarks:hover {
  border-color: var(--basic-sapphire);
}

.catalog-item .btn-bookmarks:focus,
.catalog-item .btn-bookmarks:active {
  border-color: var(--basic-sapphire);
  opacity: 0.5;
}

.catalog-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog-item:hover .actions-with-goods {
  display: block;
}

/* Популярные производители. */
.popular-manufacturers {
  margin-bottom: 70px;
}

.pop-manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pop-manufacturers-list-item {
  width: 100%;
  height: 145px;
}

.pop-manufacturers-list-item a {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--card-border-color);
  text-align: center;
  background-color: var(--basic-white);
}

.pop-manufacturers-list-item a:hover {
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));
}

.pop-manufacturers-list-item a:focus,
.pop-manufacturers-list-item a:active {
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));
  opacity: 0.5;
}

.pop-manufacturers-list-item img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Сервисы. */

.services {
  background-color: var(--basic-sapphire-white);
  margin-bottom: 70px;
}

.services .container {
  padding-top: 64px;
  padding-bottom: 4px;
}

.services h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.services .services-text {
  width: 395px;
  margin-top: 0;
  margin-bottom: 69px;
  line-height: 24px;
}

.services-slider {
  display: flex;
}

/* Блок кнопок управления слайдером. */

.services-controls {
  margin-right: 80px;
}

.services-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-bottom: 50px;
}

.services-buttons::before {
  content: "";
  position: absolute;
  top: -49px;
  right: 0;
  width: 10px;
  height: calc(100% + 96px);
  margin-top: 0;
  background-image: url("../img/serviceblock-shadow.png");
  background-repeat: no-repeat;
  background-size: 10px 100%;
  background-position: 0 0;
}

.services-buttons button {
  display: flex;
  box-sizing: border-box;
  width: 240px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 22px;
  border: none;
  align-items: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-sapphire);
}

.services-buttons button:hover {
  background-color: var(--basic-sapphire-dark);
}

.services-buttons button:focus,
.services-buttons button:active,
.services-buttons button.services-button-active {
  color: var(--basic-sapphire);
  background-color: var(--basic-white);
}

/* Список слайдов. */

.services-list {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  min-height: 253px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services-item.delivery {
  background-image: url("../img/deliverytruck.png");
}

.services-item h3 {
  margin: 0;
  margin-bottom: 30px;
}

.services-item p {
  width: 320px;
  margin: 0;
}

/* О нас. */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 24px;
}

.index-columns p {
  margin: 0;
  margin-bottom: 26px;
}

.about-us p:last-of-type {
  margin-bottom: 3px;
}

.about-us .partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.partners-list li {
  position: relative;
  padding-left: 37px;
}

.partners-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.partners-list li:not(:last-child) {
  margin-bottom: 12px;
}

.about-us .btn {
  width: 220px;
}

.contacts {
  width: 300px;
  justify-self: end;
}

.contacts p {
  margin: 0;
  margin-bottom: 33px;
}

.contacts img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.contacts .btn {
  width: 300px;
}

/* Подвал. */

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-sapphire);
}

.main-footer-top .container {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-bottom: 53px;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  margin-bottom: 23px;
}

.main-footer-contacts {
  grid-row: 2 / 3;
  min-width: 350px;
  margin: 0;
  margin-right: 20px;
  margin-left: 3px;
}

.main-footer-phone {
  display: block;
  margin-top: 1px;
  color: inherit;
  text-decoration: none;
}

/* Два навигационных списка в подвале. */

.footer-site-navigation,
.goods-categories {
  justify-self: end;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-site-navigation {
  margin-top: 38px;
  margin-bottom: 29px;
}

.goods-categories {
  margin-top: 5px;
}

.footer-site-navigation li:not(:first-child),
.goods-categories li:not(:first-child) {
  margin-left: 58px;
}

.footer-site-navigation a {
  color: inherit;
  text-decoration: none;
}

.goods-categories a,
.email a,
.author a {
  display: block;
  color: var(--basic-yellow-pale);
  text-decoration: none;
}

.footer-site-navigation a[href]:hover,
.goods-categories a[href]:hover,
.email a[href]:hover,
.author a[href]:hover,
.main-footer-phone:hover {
  text-decoration: underline;
}

.footer-site-navigation a[href]:focus,
.footer-site-navigation a[href]:active,
.goods-categories a[href]:focus,
.goods-categories a[href]:active,
.main-footer-phone:focus,
.main-footer-phone:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Нижняя часть подвала. */

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-sapphire-dark);
}

.main-footer-bottom .container {
  display: flex;
  padding-top: 33px;
  padding-bottom: 34px;
  align-items: center;
}

.main-footer-bottom p {
  margin: 0;
}

.main-footer-bottom .copyright {
  margin-top: 3px;
  margin-right: auto;
  margin-left: 1px;
  line-height: 19px;
}

.main-footer-bottom .socials {
  margin-top: 2px;
  margin-right: 120px;
}

.main-footer-bottom .socials-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials-list li:not(:last-child) {
  margin-right: 4px;
}

.socials-list a {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  color: inherit;
  text-decoration: none;
  background-color: var(--socials-item-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.socials-vk {
  background-image: url(../img/social-icons/vk.svg);
}

.socials-fb {
  background-image: url(../img/social-icons/facebook.svg);
}

.socials-inst {
  background-image: url(../img/social-icons/instagram.svg);
}

.socials-list a:hover {
  color: var(--basic-red);
  background-color: var(--basic-red);
}

.socials-list a:focus,
.socials-list a:active {
  color: var(--basic-red);
  background-color: var(--basic-red);
}

.main-footer-bottom .email {
  width: 150px;
  margin-right: 38px;
}

.main-footer-bottom .author {
  width: 111px;
}

.email a,
.author a {
  margin-top: 1px;
}

/* Ссылки в двух последних абзацах подвала. */

.email a:focus,
.email a:active,
.author a:focus,
.author a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* ------- catalog.html ------- */

.user-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.user-navigation li:not(:last-child) {
  margin-right: 15px;
}

.user-navigation a {
  color: var(--basic-sapphire);
  text-decoration: none;
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:focus,
.user-navigation:active {
  color: var(--basic-grey-light);
}

.main-content {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
}

.breadcrumbs-list {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
}

.breadcrumbs-list,
.goods-filter,
.goods-sorting,
.paginator {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-btn {
  font: inherit;
  text-transform: uppercase;
}

.goods-filter {
  grid-row: 3 / -1;
}

.goods-filter h2,
.goods-sorting h2 {
  font: inherit;
}

.breadcrumbs-list,
.goods-filter-form ul,
.goods-sorting ul,
.catalog-list,
.paginator ul {
  list-style: none;
  padding: 0;
}

.breadcrumbs-list-item:not(:last-child) {
  margin-right: 15px;
}

.breadcrumbs-list-item a,
.paginator a {
  color: var(--basic-black);
  text-decoration: none;
}

.goods-filter h2,
.goods-sorting,
.goods-filter-price input {
  background-color: var(--basic-orange-extra-light);
}

.goods-filter h2 {
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 14px;
}

.goods-filter-form fieldset {
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid var(--card-border-color);
  margin: 0;
  margin-bottom: 17px;
}

.goods-filter-form fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 9px;
}

.goods-filter-form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.goods-filter-form label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.goods-filter-price legend {
  margin-bottom: 11px;
}

.goods-filter-price .double-price-slider {
  margin-bottom: 9px;
}

.goods-filter-price input {
  display: inline-block;
  box-sizing: border-box;
  width: 95px;
  padding: 10px;
  border: none;
  font-size: 17px;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
}

/* Этот код убирает стрелочки в числовых полях. */

.goods-filter-price input[type="number"] {
  -moz-appearance: textfield;
}

.goods-filter-price input::-webkit-outer-spin-button,
.goods-filter-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
  opacity: 0.4;
}

.catalog-btn[type="submit"],
.paginator a {
  border: 1px solid var(--basic-grey-extra-light);
  text-align: center;
  background-color: var(--basic-white);
}

.catalog-btn[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
}

.catalog-btn[type="submit"]:hover,
.paginator a:hover {
  border-color: var(--basic-grey-light);
}

.catalog-btn[type="submit"]:focus,
.catalog-btn[type="submit"]:active,
.paginator a:focus,
.paginator a:active {
  border-color: var(--basic-red);
}

.catalog {
  margin-bottom: 59px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  margin: 0;
  margin-bottom: 48px;
}

.paginator ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.paginator a {
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 2px;
  margin-right: 10px;
}

.paginator a.current {
  border-color: var(--basic-red);
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.goods-sorting {
  grid-row: 3 / 4;
  display: flex;
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin-bottom: 8px;
  align-items: center;
}

.goods-sorting h2 {
  margin-right: auto;
}

.goods-sorting-criterions-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 46px;
  margin-left: 46px;
}

.goods-sorting-criterions-list li:not(:first-child) {
  margin-left: 65px;
}

.goods-sorting-directions-list {
  margin: 0;
}

.goods-sorting-directions-list li:first-child {
  margin-right: 21px;
}

.goods-sorting .catalog-btn {
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  background-color: transparent;
  opacity: 0.3;
}

.goods-sorting .catalog-btn:hover {
  border-bottom-style: solid;
  opacity: 1;
}

.goods-sorting .catalog-btn:focus,
.goods-sorting .catalog-btn:active,
.goods-sorting .catalog-btn.catalog-btn-active {
  border-bottom-color: transparent;
  color: var(--basic-red);
  opacity: 1;
}

.about-perforators {
  background-color: var(--basic-sapphire-white);
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-perforators h2 {
  margin: 0;
  margin-bottom: 25px;
}

/* Общие стили для всплывающих окон. */

.modal {
  box-sizing: border-box;
  width: 620px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
}

.modal-bottom {
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}

.modal p {
  margin: 0;
}

.modal label {
  font-size: 18px;
}

.modal input,
.modal textarea {
  margin-top: 9px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 2px;
  font: inherit;
  font-size: 13px;
}

.modal input:focus,
.modal textarea:focus {
  border-color: var(--basic-grey-dark);
  outline: none;
}

.modal .modal-bottom {
  text-align: center;
}

.write-to-us .modal-main {
  padding-top: 39px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
}

.write-to-us .modal-bottom {
  padding-right: 80px;
  padding-left: 80px;
}

.write-to-us .modal-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.write-to-us input,
.write-to-us textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 12px;
}

.write-to-us textarea {
  height: 114px;
}

.write-to-us .letter {
  grid-column: 1 / -1;
}

.write-to-us .modal-bottom {
  background-color: var(--basic-grey-white);
}

.alert .modal-bottom {
  background-color: var(--basic-grey-super-light);
}

.alert .btn-make-an-order {
  margin-right: 10px;
}

.write-to-us button[type="submit"] {
  width: 100%;
}

/* Кнопка "Продолжить покупки". */

.modal .btn.btn-close {
  border: none;
  background-color: var(--basic-white);
}

.modal .btn.btn-close:hover {
  color: var(--basic-red);
}

.modal .btn.btn-close:focus,
.modal .btn.btn-close:active {
  color: var(--basic-grey-light);
}

/* Ползунок */

.double-price-slider {
  position: relative;
  width: 220px;
  height: 80px;
}

.min-price-slider {
  position: absolute;
  width: 180px;
  top: 0;
  left: 20px;
}

.max-price-slider {
  position: absolute;
  width: 180px;
  top: 0;
  right: 20px;
}
