@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-white: #ffffff;
  --basic-white-50: rgba(255, 255, 255, 0.5);
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-grey-white: #f4f4f4;
  --basic-grey-super-light: #f1f1f1;
  --card-border-color: #eaeaea;
  --basic-grey-extra-light: #e5e5e5;
  --basic-grey-light: #c5c5c5;
  --basic-grey-light-30: rgba(197, 197, 197, 0.3);
  --phone-icon-color: #b7bfc8;
  --toggle-button-color: #ababab;
  --basic-grey: #b5b5b5;
  --basic-grey-dark: #a9a9a9;
  --basic-grey-dark-30: rgba(169, 169, 169, 0.3);
  --basic-sapphire-white: #f1f5f7;
  --toggle-shadow: #cfcfcf;
  --basic-sapphire-light: #3d546f;
  --basic-sapphire: #32425c;
  --basic-sapphire-dark: #293449;
  --basic-sapphire-extra-dark: #1d2739;
  --socials-item-bg-color: #212a3a;
  --basic-sapphire-black: #161d29;
  --basic-blue: #3bbce3;
  --basic-red: #ee3643;
  --basic-red-dark: #ca2c37;
  --basic-red-extra-dark: #ba2732;
  --basic-green-light: #8ed78f;
  --basic-green-pale: #63a63e;
  --basic-green: #5fbb2d;
  --basic-green-dark: #518534;
  --basic-green-extra-dark: #367315;
  --basic-yellow-pale: #ffd180;
  --basic-yellow: #ffbf47;
  --basic-violet: #dc91d8;
  --basic-orange-white: #f9f5f0;
  --basic-orange-extra-light: #f7f3ec;
  --basic-black: #000000;
  --basic-black-40: rgba(0, 0, 0, 0.4);
  --basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-black-25: rgba(0, 0, 0, 0.25);
  --basic-black-15: rgba(0, 0, 0, 0.15);
  --cart-icon: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15C5.32843 15 6 14.3284 6 13.5C6 12.6716 5.32843 12 4.5 12C3.67157 12 3 12.6716 3 13.5C3 14.3284 3.67157 15 4.5 15Z' fill='white'/%3E%3Cpath d='M12.5 15C13.3284 15 14 14.3284 14 13.5C14 12.6716 13.3284 12 12.5 12C11.6716 12 11 12.6716 11 13.5C11 14.3284 11.6716 15 12.5 15Z' fill='white'/%3E%3Cpath d='M15 2H4.07L3.648 0H0V2H2.031L4.016 11H15V9H9.441L15 6.951V2Z' fill='white'/%3E%3C/svg%3E ");
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden,
.pop-goods-slider-item.hidden {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  min-width: 960px;
  min-height: 100%;
  padding: 0;
  margin: 0;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.page-body .main-title,
.page-body h2,
.services-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-body .main-title {
  grid-column: 1 / -1;
  padding: 30px;
  padding-left: 29px;
  margin: 0;
  background-color: var(--basic-sapphire-white);
}

.page-body .btn,
.page-body .sticker-new {
  display: block;
  box-sizing: border-box;
  min-height: 38px;
  padding: 10px;
  flex-shrink: 0;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-body .sticker-new {
  z-index: 1;
  margin: 0;
}

.page-body .btn-default,
.page-body .sticker-new {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.page-body .btn-default {
  width: 192px;
}

.page-body .btn-default:hover {
  background-color: var(--basic-red-dark);
}

.page-body .btn-default:focus,
.page-body .btn-default:active {
  background-color: var(--basic-red-extra-dark);
}

.main-header {
  padding-bottom: 60px;
  margin-bottom: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-sapphire);
  background-color: var(--basic-sapphire-white);
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.main-header-top {
  margin-bottom: 46px;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-sapphire-dark);
}

.main-header-top .container {
  display: flex;
  height: 42px;
}

.logo {
  display: flex;
  box-sizing: border-box;
  border-bottom: 5px solid var(--basic-black-25);
  background-color: var(--basic-red);
  background-clip: border-box;
}

.inner-page .logo:focus,
.inner-page .logo:active {
  background-color: var(--basic-red-extra-dark);
}

.main-header-logo {
  width: 220px;
  height: 47px;
}

.logo img {
  margin: auto;
}

.search-form {
  width: 270px;
}

.search-form .search-field-box {
  position: relative;
  height: 100%;
}

.search-form .search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.458 12.044L17 15.586L15.586 17L12.044 13.458C10.782 14.421 9.21 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15.0001 9.14309 14.4581 10.7403 13.458 12.044ZM7.5 2C4.467 2 2 4.467 2 7.5C2.00331 10.5362 4.4638 12.9967 7.5 13C10.532 13 13 10.532 13 7.5C13 4.467 10.532 2 7.5 2Z' fill='%23000000'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.458 12.044L17 15.586L15.586 17L12.044 13.458C10.782 14.421 9.21 15 7.5 15C3.35786 15 0 11.6421 0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15.0001 9.14309 14.4581 10.7403 13.458 12.044ZM7.5 2C4.467 2 2 4.467 2 7.5C2.00331 10.5362 4.4638 12.9967 7.5 13C10.532 13 13 10.532 13 7.5C13 4.467 10.532 2 7.5 2Z' fill='%23000000'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
  opacity: 0.3;
}

.search-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 18px;
  padding-left: 42px;
  border: none;
  font: inherit;
  color: inherit;
  background: inherit;
}

.search-field::placeholder {
  opacity: 1;
}

.search-field:hover + .search-icon {
  opacity: 1;
}

.search-field:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: none;
}

.search-field:focus + .search-icon {
  opacity: 1;
}

.search-field:focus + .search-icon {
  background-color: var(--basic-red);
}

.main-header-top a,
.main-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}

.purchase-links {
  display: flex;
}

.purchase-links a {
  box-sizing: border-box;
  width: 150px;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 9px;
  padding-left: 5px;
}

.main-header-top .bookmarks,
.main-header-top .cart {
  background-color: var(--basic-red);
}

.main-header-top .bookmarks:focus,
.main-header-top .bookmarks:active,
.main-header-top .cart:focus,
.main-header-top .cart:active {
  color: var(--basic-white-50);
  background-color: var(--basic-red-dark);
}

.main-header-top .bookmarks.empty,
.main-header-top .cart.empty {
  background-color: transparent;
}

.main-header-top .bookmarks.empty:focus,
.main-header-top .bookmarks.empty:active,
.main-header-top .cart.empty:focus,
.main-header-top .cart.empty:active {
  color: var(--basic-white-50);
  background-color: var(--basic-sapphire-black);
}

.main-header-top .bookmarks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-top .bookmarks::before {
  content: "";
  display: block;
  width: 14px;
  height: 18px;
  margin-top: 2px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15C14 15.55 13.632 15.741 13.182 15.426L7.819 11.661C7.369 11.346 6.632 11.346 6.182 11.661L0.818 15.426C0.368 15.741 0 15.55 0 15V1C0 0.45 0.45 0 1 0H13C13.55 0 14 0.45 14 1V15Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks .bookmarks-amount {
  margin-left: 0.2em;
}

.main-header-top .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-top .cart::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -1px;
  margin-right: 8px;
  background-image: var(--cart-icon);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart .cart-amount {
  margin-left: 0.2em;
}

.main-header-top .bookmarks:hover::before,
.main-header-top .cart:hover::before {
  opacity: 1;
}

.main-header-top .bookmarks:focus::before,
.main-header-top .bookmarks:active::before,
.main-header-top .cart:focus::before,
.main-header-top .cart:active::before {
  opacity: 0.3;
}

.main-header-top .make-an-order {
  padding-left: 19px;
  background-color: var(--basic-green-pale);
}

.main-header-top .make-an-order:hover {
  background-color: var(--basic-green);
}

.main-header-top .make-an-order:focus,
.main-header-top .make-an-order:active {
  color: var(--basic-white-50);
  background-color: var(--basic-green-pale);
}

.main-header-middle {
  display: flex;
  padding-left: 30px;
  margin-bottom: 41px;
}

.main-header-middle .description {
  width: 270px;
  margin: 0;
  margin-top: -4px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-contacts {
  width: 270px;
  margin: 0;
  margin-right: auto;
  flex-shrink: 0;
  text-align: center;
}

.main-header-middle .main-header-phone {
  position: relative;
  display: flex;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 71px;
  border: 3px solid var(--basic-white);
  margin-bottom: 2px;
  align-items: center;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-red);
}

.main-header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-color: var(--phone-icon-color);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.572 18.985H14.631C10.502 18.497 7.474 16.577 5.272 14.121C3.062 11.66 1.318 8.492 0.977997 4.228V3.084C1.056 2.31 1.437 1.78 1.876 1.327C2.425 0.765997 3.25 0.0439969 4.002 0.0189969C4.556 0.000996886 5.502 0.398997 5.881 0.917997C6.21 1.364 6.385 2.257 6.537 2.921C6.691 3.592 7.042 4.564 6.945 5.21C6.797 6.217 5.458 6.644 5.066 7.376C6.373 10.511 8.509 12.815 11.359 14.407C12.074 14.015 12.705 12.835 13.691 12.812C14.05 12.803 14.509 12.99 14.875 13.098C15.277 13.219 15.625 13.373 15.979 13.506C16.575 13.73 17.627 14.027 17.983 14.527C18.348 15.04 18.553 15.883 18.473 16.406C18.309 17.447 16.594 18.603 15.572 18.985Z' fill='%23000000'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.572 18.985H14.631C10.502 18.497 7.474 16.577 5.272 14.121C3.062 11.66 1.318 8.492 0.977997 4.228V3.084C1.056 2.31 1.437 1.78 1.876 1.327C2.425 0.765997 3.25 0.0439969 4.002 0.0189969C4.556 0.000996886 5.502 0.398997 5.881 0.917997C6.21 1.364 6.385 2.257 6.537 2.921C6.691 3.592 7.042 4.564 6.945 5.21C6.797 6.217 5.458 6.644 5.066 7.376C6.373 10.511 8.509 12.815 11.359 14.407C12.074 14.015 12.705 12.835 13.691 12.812C14.05 12.803 14.509 12.99 14.875 13.098C15.277 13.219 15.625 13.373 15.979 13.506C16.575 13.73 17.627 14.027 17.983 14.527C18.348 15.04 18.553 15.883 18.473 16.406C18.309 17.447 16.594 18.603 15.572 18.985Z' fill='%23000000'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.main-header-middle .main-header-phone:hover {
  color: var(--basic-sapphire-extra-dark);
}

.main-header-middle .main-header-phone:focus,
.main-header-middle .main-header-phone:active {
  color: var(--basic-grey-light);
}

.main-header-phone:hover::before {
  background-color: var(--basic-sapphire-extra-dark);
}

.main-header-phone:focus::before,
.main-header-phone:active::before {
  background-color: var(--phone-icon-color);
}

.main-header-middle .user {
  margin-left: 20px;
}

.authorization {
  display: flex;
  margin-bottom: 7px;
}

.authorization a {
  display: flex;
  padding-top: 11px;
  padding-bottom: 13px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.authorization .sign-in {
  position: relative;
  padding-right: 27px;
  padding-left: 46px;
  margin-right: 10px;
}

.sign-in::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-color: var(--basic-grey-light);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 8.5L5.71429 0V6H0V11H5.71429V17L14.1667 8.5Z' fill='%23000000'/%3E%3Cpath d='M16.1771 15.01H11.3895V17H16.1771C18.2514 17 19.0381 15.19 19.0619 13.974V3.028C19.0381 1.811 18.2514 0 16.1771 0H11.3895V1.99H16.1771C16.9762 1.99 17.1219 2.671 17.1391 3.047V13.951C17.1229 14.327 16.9762 15.01 16.1771 15.01Z' fill='%23000000'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 8.5L5.71429 0V6H0V11H5.71429V17L14.1667 8.5Z' fill='%23000000'/%3E%3Cpath d='M16.1771 15.01H11.3895V17H16.1771C18.2514 17 19.0381 15.19 19.0619 13.974V3.028C19.0381 1.811 18.2514 0 16.1771 0H11.3895V1.99H16.1771C16.9762 1.99 17.1219 2.671 17.1391 3.047V13.951C17.1229 14.327 16.9762 15.01 16.1771 15.01Z' fill='%23000000'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.authorization .sign-up {
  padding-right: 24px;
  padding-left: 25px;
}

.authorization .user-name {
  position: relative;
  padding-right: 6px;
  padding-left: 59px;
}

.user-name::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  width: 20px;
  height: 18px;
  background-color: var(--basic-grey-light);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.881 14.166C15.737 13.431 13.625 12.5 12.674 11.776C12.017 11.275 11.904 10.158 12.157 9.361C13.275 8.458 14.021 6.884 14.021 5.083C14.021 2.276 12.221 0 10 0C7.77902 0 5.97901 2.276 5.97901 5.083C5.97901 6.884 6.72501 8.457 7.84201 9.36C8.09501 10.158 7.98302 11.275 7.32502 11.776C6.37502 12.5 4.26201 13.43 2.11801 14.166C-0.0259852 14.902 1.48343e-05 18 1.48343e-05 18H20C20 18 20.025 14.901 17.881 14.166Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.881 14.166C15.737 13.431 13.625 12.5 12.674 11.776C12.017 11.275 11.904 10.158 12.157 9.361C13.275 8.458 14.021 6.884 14.021 5.083C14.021 2.276 12.221 0 10 0C7.77902 0 5.97901 2.276 5.97901 5.083C5.97901 6.884 6.72501 8.457 7.84201 9.36C8.09501 10.158 7.98302 11.275 7.32502 11.776C6.37502 12.5 4.26201 13.43 2.11801 14.166C-0.0259852 14.902 1.48343e-05 18 1.48343e-05 18H20C20 18 20.025 14.901 17.881 14.166Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.authorization .sign-out {
  position: relative;
  padding-right: 37px;
  padding-left: 15px;
}

.sign-out::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  background-color: var(--basic-grey-light);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 8.5L11.125 0V6H5.125V11H11.125V17L20 8.5Z' fill='%23000000'/%3E%3Cpath d='M2.10604 13.952V3.048C2.12404 2.672 2.27704 1.991 3.11604 1.991H8.14304V0H3.11604C0.938036 0 0.112036 1.81 0.0870361 3.027V13.973C0.112036 15.189 0.938036 17 3.11604 17H8.14304V15.01H3.11604C2.27704 15.01 2.12404 14.327 2.10604 13.952Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 8.5L11.125 0V6H5.125V11H11.125V17L20 8.5Z' fill='%23000000'/%3E%3Cpath d='M2.10604 13.952V3.048C2.12404 2.672 2.27704 1.991 3.11604 1.991H8.14304V0H3.11604C0.938036 0 0.112036 1.81 0.0870361 3.027V13.973C0.112036 15.189 0.938036 17 3.11604 17H8.14304V15.01H3.11604C2.27704 15.01 2.12404 14.327 2.10604 13.952Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.authorization a:hover {
  color: var(--basic-red);
}

.authorization a:focus,
.authorization a:active {
  color: var(--basic-grey-light);
}

.sign-in:hover::before,
.sign-out:hover::after,
.user-name:hover::before {
  background-color: var(--basic-sapphire-light);
}

.sign-in:focus::before,
.sign-in:active::before,
.sign-out:focus::after,
.sign-out:active::after,
.user-name:focus::before,
.user-name:active::before {
  background-color: var(--basic-grey-light);
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  background-color: var(--basic-sapphire);
  box-shadow: inset 0px -5px 0px var(--basic-sapphire-dark);
}

.site-navigation a {
  display: block;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 20px;
  padding-left: 28px;
}

.site-navigation a[href]:hover {
  background-color: var(--basic-sapphire-dark);
}

.site-navigation a[href]:focus,
.site-navigation a[href]:active {
  color: var(--basic-white-50);
  background-color: var(--basic-sapphire-extra-dark);
}

.promo {
  margin-bottom: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.promo .pop-sections-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  color: var(--basic-white);
}

.pop-sections-item {
  position: relative;
  padding-top: 20px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 23px;
  overflow: hidden;
}

.pop-sections-item h3 {
  width: 150px;
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.pop-sections-item .sticker-new,
.catalog-item .sticker-new {
  position: absolute;
  top: 8px;
  right: -27px;
  width: 100px;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 9px;
  transform: rotate(45deg);
}

.pop-sections-item > .btn {
  display: flex;
  width: 135px;
  padding-top: 9px;
  padding-bottom: 11px;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--basic-white-30);
}

.pop-sections-item > .btn:hover {
  background-color: var(--basic-grey-light-30);
}

.pop-sections-item > .btn:focus,
.pop-sections-item > .btn:active {
  background-color: var(--basic-grey-dark-30);
}

.pop-sections-item {
  background-repeat: no-repeat;
}

.pop-sections-item.materials {
  background-color: var(--basic-yellow);
  background-image: url("../img/interface-icons/materials-icon.svg");
  background-position: right 43px top 31px;
}

.pop-sections-item.tool {
  background-color: var(--basic-blue);
  background-image: url("../img/interface-icons/instruments-icon.svg");
  background-position: right 31px top 34px;
}

.pop-sections-item.technics {
  background-color: var(--basic-violet);
  background-image: url("../img/interface-icons/technics-icon.svg");
  background-position: right 31px top 31px;
}

.pop-sections-item.discount {
  background-color: var(--basic-green-light);
  background-image: url("../img/interface-icons/discount-icon.svg");
  background-position: right 45px top 26px;
}

.pop-sections-item.delivery {
  background-color: var(--basic-yellow);
  background-image: url("../img/interface-icons/delivery-icon.svg");
  background-position: right 31px top 32px;
}

.pop-goods-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  position: relative;
  padding: 0;
}

.pop-goods-slider ul {
  height: 100%;
  padding: 0;
  margin: 0;
}

.pop-goods-slider-item {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  background-size: cover;
}

.pop-goods-slider-item header {
  box-sizing: border-box;
  height: 39%; /* 39.47368421%; */
  padding-top: 22px;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: auto;
  background-color: var(--basic-black-25);
}

.pop-goods-slider-item h3 {
  margin-bottom: 6px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.pop-goods-slider-item p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.pop-goods-slider-item .btn {
  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 27px;
  margin-left: 24px;
}

.pop-goods-slider-item.perforators {
  background-image: url(../img/perforators-promo-background.jpg);
}

.pop-goods-slider-item.drills {
  background-image: url(../img/drills-promo-background.jpg);
}

.pop-goods-slider .slider-button {
  position: absolute;
  bottom: 94px;
  width: 62px;
  height: 60px;
  padding: 10px;
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9244 0.941467L21.9225 2.98927L4.90696 20.4361L21.978 37.9376L19.9789 39.9854L0.910614 20.4361L19.9244 0.941467Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9244 0.941467L21.9225 2.98927L4.90696 20.4361L21.978 37.9376L19.9789 39.9854L0.910614 20.4361L19.9244 0.941467Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.pop-goods-slider .prev-slide {
  left: 4px;
}

.pop-goods-slider .next-slide {
  right: 0px;
  transform: rotate(180deg);
}

.pop-goods-slider .slider-button:hover {
  background-color: var(--basic-red);
}

.pop-goods-slider .slider-button:focus-visible,
.pop-goods-slider .slider-button:active {
  background-color: var(--basic-red);
  opacity: 0.5;
}
.slider-controls {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(100% - 51px);
  display: flex;
  width: 100px;
  justify-content: center;
}

.slider-controls button {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: radial-gradient(
    circle closest-side,
    var(--basic-white) 45%,
    transparent 55%
  );
}

.slider-controls button:not(.active) {
  cursor: pointer;
}

.slide-button:not(.active):hover {
  background: radial-gradient(
    circle closest-side,
    var(--basic-white) 30%,
    var(--basic-red) 40%,
    var(--basic-red) 45%,
    transparent 60%
  );
}

.slider-controls button.slide-button:focus-visible,
.slider-controls button.slide-button:active,
.slider-controls button.slide-button.active {
  background: radial-gradient(
    circle closest-side,
    var(--basic-red) 25%,
    var(--basic-white) 35%,
    var(--basic-white) 45%,
    transparent 55%
  );
}

.slider-controls-box {
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  display: flex;
  padding-top: 25px;
  padding-right: 14px;
  padding-bottom: 26px;
  padding-left: 28px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-orange-white);
}

.main-title,
.section-header h2,
.services-item h3 {
  margin: 0;
  margin-right: 28px;
  color: var(--basic-sapphire);
}

.popular-goods {
  margin-bottom: 70px;
}

.pop-goods-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.catalog-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  min-height: 318px;
  padding-bottom: 20px;
  border: 1px solid var(--card-border-color);
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
  overflow: hidden;
}

.catalog-item h3 {
  margin-top: 0;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 17px;
  text-align: center;
}

.catalog-item .picture-and-actions {
  position: relative;
  width: 100%;
  height: 169px;
  margin-bottom: 8px;
  order: -1;
}

.picture-and-actions img {
  display: block;
  max-width: 100%;
  height: 169px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.catalog-item h3 {
  line-height: 20px;
}

.catalog-item .link-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-item .link-title:hover {
  color: var(--basic-sapphire);
}

.catalog-item .link-title:focus,
.catalog-item .link-title:active {
  color: var(--basic-sapphire);
  opacity: 0.5;
}

.catalog-item .prices {
  margin: 0;
  margin-top: auto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-item .old-price {
  display: block;
  margin-bottom: 14px;
  text-align: center;
  text-decoration: line-through;
  color: var(--basic-grey-dark);
}

.catalog-item .new-price {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 141px;
  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 12px;
  border-radius: 3px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'%3E%3Cpath d='m0 0l1 1-1 1z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'%3E%3Cpath d='m0 0l1 1-1 1z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: right;
  mask-position: right;
}

.catalog-item .actions-with-goods {
  position: absolute;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-right: 13px;
  background-color: var(--basic-white);
}

.actions-with-goods .btn {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 10px auto;
}

.catalog-item .btn-buy {
  position: relative;
  padding-left: 23px;
  border-radius: 2px;
  margin-top: 27px;
  margin-bottom: 10px;
  color: var(--basic-white);
  background-color: var(--basic-green-pale);
  box-shadow: inset 0px -3px 0px var(--basic-green-extra-dark);
}

.catalog-item .btn-buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: var(--cart-icon);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-item .btn-buy:hover {
  background-color: var(--basic-green);
}

.catalog-item .btn-buy:focus,
.catalog-item .btn-buy:active {
  background-color: var(--basic-green-dark);
}

.catalog-item .btn-bookmarks {
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 2px;
  color: var(--basic-sapphire);
  background-color: inherit;
  outline: 3px solid var(--basic-green-pale);
  outline-offset: -3px;
}

.catalog-item .btn-bookmarks:hover {
  outline-color: var(--basic-sapphire);
}

.catalog-item .btn-bookmarks:focus,
.catalog-item .btn-bookmarks:active {
  outline-color: var(--basic-sapphire);
  opacity: 0.5;
}

.catalog-item:hover {
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));
}

.catalog-item:focus-within .actions-with-goods,
.catalog-item:hover .actions-with-goods {
  top: 0;
  transition-duration: 120ms;
  transition-timing-function: ease-in;
}

.popular-manufacturers {
  margin-bottom: 70px;
}

.pop-manufacturers-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pop-manufacturers-list-item {
  width: 100%;
  height: 145px;
}

.pop-manufacturers-list-item a {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid var(--card-border-color);
  text-align: center;
  background-color: var(--basic-white);
}

.pop-manufacturers-list-item a:hover {
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));
}

.pop-manufacturers-list-item a:focus,
.pop-manufacturers-list-item a:active {
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));
  opacity: 0.5;
}

.pop-manufacturers-list-item img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
}

.services {
  margin-bottom: 70px;
  background-color: var(--basic-sapphire-white);
}

.services .container {
  padding-top: 64px;
  padding-bottom: 4px;
}

.services h2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.services .services-text {
  width: 395px;
  margin-top: 0;
  margin-bottom: 67px;
  line-height: 25px;
}

.services-slider {
  display: flex;
}

.services-controls {
  margin-right: 80px;
}

.services-buttons {
  position: relative;
  display: flex;
  margin-top: 3px;
  margin-bottom: 50px;
  flex-direction: column;
}

.services-buttons::before {
  content: "";
  position: absolute;
  top: -49px;
  right: 0;
  width: 10px;
  height: calc(100% + 96px);
  margin-top: 0;
  background-image: url("../img/serviceblock-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 10px 100%;
}

.services-buttons button {
  display: flex;
  box-sizing: border-box;
  width: 240px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 22px;
  border: none;
  align-items: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-sapphire);
  cursor: pointer;
}

.services-buttons button:hover {
  background-color: var(--basic-sapphire-dark);
}

.services-buttons button:focus-visible,
.services-buttons button:active,
.services-buttons button.services-button-active {
  color: var(--basic-sapphire);
  background-color: var(--basic-white);
}

.services-list {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  min-height: 253px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services-item.delivery {
  background-image: url("../img/services-delivery-bg.png");
  background-position: right bottom;
}
.services-item.guarantee {
  background-image: url("../img/services-guarantee-bg.png");
  background-position: right bottom;
}
.services-item.loan {
  background-image: url("../img/services-loan-bg.png");
  background-position: right bottom;
}

.services-item h3 {
  width: 370px;
  margin: 0;
  margin-bottom: 30px;
}

.guarantee h3 {
  margin-bottom: 26px;
}

.loan h3 {
  margin-bottom: 29px;
}

.loan .btn {
  width: 195px;
  border-radius: 2px;
  margin-top: 26px;
}

.services-item p {
  width: 370px;
  margin: 0;
}

.index-columns {
  display: grid;
  margin-bottom: 70px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 24px;
}

.index-columns p {
  margin: 0;
  margin-bottom: 26px;
}

.about-us p:last-of-type {
  margin-bottom: 3px;
}

.about-us .partners-list {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.partners-list li {
  position: relative;
  padding-left: 37px;
}

.partners-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.partners-list li:not(:last-child) {
  margin-bottom: 12px;
}

.about-us .btn {
  width: 220px;
}

.contacts {
  width: 300px;
  justify-self: end;
}

.contacts p {
  margin: 0;
  margin-bottom: 33px;
}

.contacts img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.contacts .btn {
  width: 300px;
}

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-sapphire);
}

.main-footer-top .container {
  display: grid;
  padding-bottom: 53px;
  grid-template-columns: min-content 1fr;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  margin-bottom: 23px;
}

.main-footer-contacts {
  grid-row: 2 / 3;
  min-width: 350px;
  margin: 0;
  margin-right: 20px;
  margin-left: 3px;
}

.main-footer-phone {
  display: block;
  margin-top: 1px;
  text-decoration: none;
  color: inherit;
}

.footer-site-navigation,
.goods-categories {
  justify-self: end;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: start;
}

.footer-site-navigation {
  margin-top: 38px;
  margin-bottom: 29px;
}

.goods-categories {
  margin-top: 5px;
}

.footer-site-navigation li:not(:first-child),
.goods-categories li:not(:first-child) {
  margin-left: 58px;
}

.footer-site-navigation a {
  text-decoration: none;
  color: inherit;
}

.goods-categories a,
.email a,
.author a {
  display: block;
  text-decoration: none;
  color: var(--basic-yellow-pale);
}

.footer-site-navigation a[href]:hover,
.goods-categories a[href]:hover,
.email a:hover,
.author a:hover,
.main-footer-phone:hover {
  text-decoration: underline;
}

.footer-site-navigation a[href]:focus,
.footer-site-navigation a[href]:active,
.goods-categories a[href]:focus,
.goods-categories a[href]:active,
.main-footer-phone:focus,
.main-footer-phone:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-sapphire-dark);
}

.main-footer-bottom .container {
  display: flex;
  padding-top: 31px;
  padding-bottom: 34px;
  align-items: center;
}

.main-footer-bottom p {
  margin: 0;
}

.main-footer-bottom .copyright {
  min-width: 263px;
  margin-top: 2px;
  margin-right: 60px;
  margin-left: 1px;
  line-height: 19px;
}

.main-footer-bottom .socials {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 0;
}

.main-footer-bottom .socials-list {
  display: flex;
  min-width: 135px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.socials-list li:not(:last-child) {
  margin-right: 4px;
}

.socials-list a {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  background-color: var(--socials-item-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.socials-vk {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5403 11.7281C16.4609 11.4384 17.6395 13.6406 18.8943 14.4834C19.836 15.1219 20.5573 14.9841 20.5573 14.9841L23.9017 14.9372C23.9017 14.9372 25.6495 14.8322 24.8232 13.4803C24.7549 13.3678 24.3389 12.4781 22.334 10.6472C20.2376 8.73186 20.5217 9.04218 23.0456 5.73093C24.5835 3.71249 25.1988 2.47968 25.0062 1.95468C24.8213 1.44936 23.6918 1.58061 23.6918 1.58061L19.9237 1.60593C19.5568 1.60686 19.2458 1.71749 19.1042 2.08874C19.1013 2.09249 18.5062 3.65061 17.7127 4.9753C16.0362 7.77749 15.3669 7.92655 15.0896 7.75124C14.4531 7.3453 14.6139 6.1228 14.6139 5.25374C14.6139 2.5378 15.0299 1.4053 13.7992 1.1128C13.388 1.0153 13.0876 0.951552 12.0389 0.942177C10.6985 0.922489 9.56027 0.942177 8.91508 1.25061C8.48656 1.45968 8.15819 1.91811 8.35753 1.94436C8.6079 1.97718 9.1693 2.09436 9.46975 2.49374C9.8559 3.01124 9.84434 4.17093 9.84434 4.17093C9.84434 4.17093 10.0649 7.36874 9.32434 7.7653C8.8159 8.03718 8.12064 7.48218 6.62516 4.9378C5.86153 3.63655 5.28471 2.19843 5.28471 2.19843C5.28471 2.19843 5.17301 1.93124 4.97079 1.78499C4.73005 1.61155 4.39301 1.55624 4.39301 1.55624L0.816563 1.57874C0.816563 1.57874 0.27923 1.59374 0.0818227 1.82436C-0.0934366 2.02874 0.0673782 2.45061 0.0673782 2.45061C0.0673782 2.45061 2.86864 8.90155 6.04064 12.1509C8.94879 15.1341 12.2537 14.9362 12.2537 14.9362H13.7511C13.7511 14.9362 14.2027 14.8856 14.4338 14.6437C14.6495 14.4187 14.6399 13.9959 14.6399 13.9959C14.6399 13.9959 14.61 12.0187 15.5403 11.7281Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

a.socials-fb {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4V0H8C5.79086 0 4 1.79086 4 4V8H0V12H4V22H8V12H12V8H8V4H12Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  background-position: center top 10px;
}

.socials-inst {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H18C19.65 0 21 1.35 21 3V18C21 19.65 19.65 21 18 21H3C1.35 21 0 19.65 0 18V3C0 1.35 1.35 0 3 0ZM14 10.5C14 8.57 12.43 7 10.5 7C8.57 7 7 8.57 7 10.5C7 12.43 8.57 14 10.5 14C12.43 14 14 12.43 14 10.5ZM3 18V9H4.181C4.0626 9.49127 4.00186 9.99467 4 10.5C4 14.0899 6.91015 17 10.5 17C14.0899 17 17 14.0899 17 10.5C16.9986 9.99464 16.9379 9.49118 16.819 9H18V18H3ZM14 7H18V3H14V7Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}

.socials-list a:hover {
  color: var(--basic-red);
  background-color: var(--basic-red);
}

.socials-list a:focus,
.socials-list a:active {
  color: var(--basic-red);
  background-color: var(--basic-red);
}

.main-footer-bottom .email {
  min-width: 150px;
  margin-right: 38px;
  margin-left: 50px;
}

.main-footer-bottom .author {
  min-width: 111px;
}

.email a,
.author a {
  margin-top: 1px;
}

.email a:focus,
.email a:active,
.author a:focus,
.author a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.user-navigation li:not(:last-child) {
  position: relative;
  margin-right: 31px;
}

.user-navigation li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: -18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-sapphire);
}

.user-navigation a {
  text-decoration: none;
  color: var(--basic-sapphire);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:focus,
.user-navigation:active {
  color: var(--basic-grey-light);
}

.main-content {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(3, min-content) 1fr;
  gap: 20px;
  margin-bottom: 54px;
}

.breadcrumbs-list {
  grid-column: 1 / -1;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.breadcrumbs-list,
.goods-filter,
.goods-sorting,
.paginator {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-btn {
  font: inherit;
  text-transform: uppercase;
}

.goods-filter {
  grid-row: 3 / -1;
}

.goods-filter h2,
.goods-sorting h2 {
  font: inherit;
}

.breadcrumbs-list,
.goods-filter-form ul,
.goods-sorting ul,
.catalog-list,
.paginator ul {
  padding: 0;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.237 5.69313L1.729 0.971129C1.53129 0.801657 1.21072 0.801657 1.013 0.971129C0.815286 1.1406 0.815286 1.41537 1.013 1.58484L6.163 5.99999L1.012 10.4143C0.826486 10.5855 0.832107 10.8518 1.02473 11.0171C1.21735 11.1824 1.52801 11.1876 1.728 11.0288L7.237 6.30684C7.33252 6.22572 7.38625 6.11524 7.38625 5.99999C7.38625 5.88473 7.33252 5.77425 7.237 5.69313Z' fill='%23C1C6CE'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item.breadcrumbs-item-index {
  margin-right: 55px;
}

.breadcrumbs-item.breadcrumbs-item-index::after {
  right: -37px;
}

.breadcrumbs-item .to-index {
  position: relative;
}

.breadcrumbs-item .home-icon {
  position: absolute;
  width: 14px;
  height: 12px;
  margin-top: 4px;
  transition-duration: 80ms;
  transition-timing-function: ease-in;
  transition-property: width, height, margin-top, margin-left;
}

.to-index:hover .home-icon {
  width: 18px;
  height: 15px;
  margin-top: 2px;
  margin-left: -1px;
}

.to-index:hover .home-icon-roof,
.to-index:focus .home-icon-roof,
.to-index:active .home-icon-roof {
  fill: var(--basic-black);
}

.to-index:hover .home-icon-body,
.to-index:focus .home-icon-body,
.to-index:active .home-icon-body {
  fill: var(--basic-red);
}

.to-index:focus .home-icon,
.to-index:active .home-icon {
  opacity: 0.4;
}

.breadcrumbs-item a:not(.to-index):hover {
  color: var(--basic-red);
}

.breadcrumbs-item a:not(.to-index):focus,
.breadcrumbs-item a:not(.to-index):active {
  color: var(--basic-grey-light);
}

.breadcrumbs-item a,
.paginator a {
  color: var(--basic-black);
  text-decoration: none;
}

.goods-filter h2,
.goods-sorting,
.goods-filter-price input {
  background-color: var(--basic-orange-extra-light);
}

.goods-filter h2 {
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 11px;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 13px;
  border-radius: 3px;
}

.goods-filter-form fieldset {
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid var(--card-border-color);
  margin: 0;
  margin-bottom: 15px;
}

.goods-filter-form fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 12px;
}

.goods-filter-form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.goods-filter-form label {
  position: relative;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
}

.goods-filter-price legend {
  margin-bottom: 12px;
}

.goods-filter-price .range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  margin-bottom: 9px;
  background-color: var(--basic-orange-extra-light);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-grey-light);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green-pale);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  display: block;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--toggle-button-color);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle:hover {
  border-color: var(--basic-sapphire-light);
  background-color: var(--basic-white);
}

.range-controls .toggle:focus,
.range-controls .toggle:active {
  border-color: var(--basic-grey-dark);
  background-color: var(--basic-white);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls .price-dash {
  font-size: 16px;
  line-height: 18px;
}

.goods-filter-price input {
  display: inline-block;
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 17px;
  line-height: inherit;
}

.goods-filter-price input[type="number"]:focus {
  outline: 1px solid var(--basic-grey-dark);
}

.goods-filter-price input[type="number"] {
  -moz-appearance: textfield;
}

.goods-filter-price input::-webkit-outer-spin-button,
.goods-filter-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.goods-filter-form .goods-filter-manufacturers {
  padding-bottom: 25px;
  margin-bottom: 18px;
}

.goods-filter-manufacturers legend {
  margin-bottom: 18px;
}

.manufacturers-list,
.source-types-list {
  margin: 0;
}

.manufacturers-item {
  padding-left: 35px;
}

.manufacturers-item:not(:last-child) {
  margin-bottom: 19px;
}

.manufacturers-item label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-color: var(--basic-grey-light);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
}

.manufacturers-input:checked + label::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48598L4.45599 10.315L12.239 18.098L26.171 4.16598L23.343 1.33698L12.239 12.439L7.28499 7.48598Z' fill='%23000000'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48598L4.45599 10.315L12.239 18.098L26.171 4.16598L23.343 1.33698L12.239 12.439L7.28499 7.48598Z' fill='%23000000'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

.manufacturers-item label:hover::before {
  background-color: var(--basic-grey);
}

.manufacturers-input:focus-visible + label::before {
  background-color: var(--basic-sapphire-light);
}

.goods-filter-source-type legend {
  margin-bottom: 24px;
}

.source-types-item {
  padding-left: 35px;
}

.source-types-item:not(:last-child) {
  margin-bottom: 22px;
}

.source-types-item label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--basic-grey-light);
  border-radius: 50%;
}

.source-types-input:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -27px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--basic-grey-light);
}

.source-types-input + label:hover::before {
  border-color: var(--basic-grey);
}

.source-types-input:checked + label:hover::after {
  background-color: var(--basic-grey);
}

.source-types-input:checked:focus-visible + label::before {
  border-color: var(--basic-sapphire-light);
}

.source-types-input:checked:focus-visible + label::after {
  background-color: var(--basic-sapphire-light);
}

.manufacturers-input:disabled + label .label-text,
.source-types-input:disabled + label .label-text {
  opacity: 0.4;
}

.manufacturers-input:disabled + label::before,
.source-types-input:disabled + label::after {
  background-color: var(--basic-grey);
  opacity: 0.3;
}

.source-types-input:disabled + label::before {
  border-color: var(--basic-grey);
  opacity: 0.3;
}

.catalog-btn[type="submit"],
.paginator a {
  border: 1px solid var(--basic-grey-extra-light);
  text-align: center;
  background-color: var(--basic-white);
}

.catalog-btn[type="submit"] {
  display: block;
  width: 100%;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.catalog-btn[type="submit"]:hover,
.paginator a:hover {
  border-color: var(--basic-grey-light);
}

.catalog-btn[type="submit"]:focus,
.catalog-btn[type="submit"]:active,
.paginator a:focus,
.paginator a:active {
  border-color: var(--basic-red);
}

.catalog-list {
  display: grid;
  margin: 0;
  margin-bottom: 43px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
}

.paginator ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.paginator li {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.paginator a {
  display: block;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 14px;
  border-radius: 2px;
}

.paginator-next a {
  padding-right: 30px;
  padding-left: 31px;
}

.paginator a.current {
  border-color: var(--basic-red);
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.goods-sorting {
  grid-row: 3 / 4;
  align-self: flex-start;
  display: flex;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-left: 19px;
  border-radius: 3px;
  margin-bottom: 8px;
  align-items: center;
}

.goods-sorting h2 {
  margin: 0;
  margin-top: -1px;
  margin-right: auto;
}

.goods-sorting-criterions-list {
  display: flex;
  margin: 0;
  margin-right: 46px;
  margin-left: 46px;
  justify-content: center;
  flex-wrap: wrap;
}

.goods-sorting-criterions-list li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.goods-sorting-criterions-list li:not(:first-child) {
  margin-left: 64px;
}

.goods-sorting-criterions-list li:nth-child(2) {
  margin-left: 70px;
}

.goods-sorting-criterions-list .catalog-btn {
  padding: 0;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  background-color: transparent;
  opacity: 0.3;
}

.goods-sorting-criterions-list .catalog-btn:hover {
  border-bottom-style: solid;
  opacity: 1;
}

.goods-sorting-criterions-list .catalog-btn:focus,
.goods-sorting-criterions-list .catalog-btn:active,
.goods-sorting-criterions-list .catalog-btn.catalog-btn-active {
  border-bottom-color: transparent;
  color: var(--basic-red);
  opacity: 1;
}

.goods-sorting-directions-list {
  display: flex;
  margin: 0;
  margin-top: -1px;
}

.goods-sorting-directions-list li {
  display: flex;
  align-items: center;
}

.goods-sorting-directions-list li:first-child {
  margin-right: 21px;
}

.goods-sorting-directions-list .catalog-btn {
  width: 11px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: var(--basic-grey-light);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='%23000'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L11 10L0 10' fill='%23000'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center top;
  mask-position: center top;
}

.goods-sorting-directions-list .sort-escending {
  transform: rotate(180deg);
}

.goods-sorting-directions-list .catalog-btn:hover {
  background-color: var(--basic-black);
}

.goods-sorting-directions-list .catalog-btn:focus,
.goods-sorting-directions-list .catalog-btn:active,
.goods-sorting-directions-list .catalog-btn.catalog-btn-active {
  background-color: var(--basic-red);
}

.about-perforators {
  padding-top: 64px;
  padding-bottom: 57px;
  background-color: var(--basic-sapphire-white);
}

.about-perforators h2 {
  margin: 0;
  margin-bottom: 25px;
}

/* Общие стили для всплывающих окон. */

.modal {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0;
  bottom: auto;
  left: 0;

  box-sizing: border-box;
  width: 620px;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px var(--basic-black-15));

  animation: bounce 0.6s;
}

.modal button {
  cursor: pointer;
}

.modal-bottom {
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
}

.modal p {
  margin: 0;
}

.modal label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.modal-close {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 41px;
  height: 41px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2729 10.4999L20.6949 3.07793C21.0839 2.68893 21.0839 2.05293 20.6949 1.66393L19.3359 0.304934C18.9469 -0.0840664 18.3109 -0.0840664 17.9219 0.304934L10.4999 7.72693L3.07793 0.304934C2.68893 -0.0840664 2.05293 -0.0840664 1.66393 0.304934L0.304934 1.66393C-0.0840664 2.05293 -0.0840664 2.68893 0.304934 3.07793L7.72693 10.4999L0.305934 17.9219C-0.0830664 18.3109 -0.0830664 18.9469 0.305934 19.3359L1.66493 20.6949C2.05393 21.0839 2.68993 21.0839 3.07893 20.6949L10.5009 13.2729L17.9229 20.6949C18.3119 21.0839 18.9479 21.0839 19.3369 20.6949L20.6959 19.3359C21.0849 18.9469 21.0849 18.3109 20.6959 17.9219L13.2729 10.4999Z' fill='%23EE3643'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
  cursor: pointer;
}

.modal-close:hover {
  transform: rotate(360deg);
}

.modal-close:focus-visible,
.modal-close:active {
  opacity: 0.5;
}

.modal input,
.modal textarea {
  border: 2px solid var(--basic-grey-light);
  border-radius: 2px;
  margin-top: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: var(--basic-grey-dark);
}

.modal input:focus,
.modal textarea:focus {
  border-color: var(--basic-grey-dark);
  outline: none;
}

.modal .modal-bottom {
  text-align: center;
}

.write-to-us .modal-main {
  padding-top: 39px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
}

.write-to-us .modal-bottom {
  padding-right: 80px;
  padding-left: 80px;
}

.write-to-us .modal-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 13px;
}

.write-to-us input,
.write-to-us textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.write-to-us textarea {
  height: 114px;
  padding-top: 4px;
}

.write-to-us .letter {
  grid-column: 1 / -1;
}

.write-to-us .modal-bottom {
  background-color: var(--basic-grey-white);
}

.alert .modal-bottom {
  background-color: var(--basic-grey-super-light);
}

.alert .btn-make-an-order {
  margin-right: 10px;
}

.write-to-us button[type="submit"] {
  width: 100%;
}

.modal.our-location {
  width: 943px;
  height: 449px;
}

.modal.our-location iframe {
  border: none;
}

.modal.alert header {
  display: flex;
  min-height: 123px;
  padding: 20px;
}

.modal.alert h2 {
  position: relative;
  max-width: 360px;
  margin: auto;
}

.modal.alert h2::before {
  content: "";
  position: absolute;
  top: calc(50% - 34px);
  left: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-left: -95px;
  background-color: var(--basic-green-pale);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='30' viewBox='0 0 40 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.641 1.06603C35.2498 0.677292 34.6181 0.677292 34.227 1.06603L15.788 19.504C15.3968 19.8928 14.7651 19.8928 14.374 19.504L6.23396 11.365C5.84278 10.9763 5.21114 10.9763 4.81996 11.365L1.28496 14.9C0.896225 15.2912 0.896225 15.9228 1.28496 16.314L14.374 29.404C14.7651 29.7928 15.3968 29.7928 15.788 29.404L19.324 25.868L20.738 24.454L39.176 6.01603C39.5647 5.62485 39.5647 4.99321 39.176 4.60203L35.641 1.06603Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 51% 58%;
}

.modal.alert .modal-bottom {
  display: flex;
  padding-left: 42px;
  padding-right: 40px;
  justify-content: center;
}

.modal.alert .btn-close {
  width: 192px;
}

.modal .btn.btn-close {
  border: none;
  background-color: var(--basic-white);
}

.modal .btn.btn-close:hover {
  color: var(--basic-red);
}

.modal .btn.btn-close:focus,
.modal .btn.btn-close:active {
  color: var(--basic-grey-light);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}
